@import "./style.sass"

.inner_pages
	font-size: 22px
.block
	padding: 13px 0
.page_list
	padding: 0
	margin: 20px 0
.page_list li 
	padding-left: 20px
	position: relative
	text-transform: none !important
	list-style-type: none
	margin: 7px 0
.page_list li:before 
	content: ''
	width: 8px
	height: 8px
	border-radius: 50%
	background: #134094
	display: block
	position: absolute
	top: 13px
	left: 0
.page_list.angle li:before 
	content: ''
	background: url('../img/angle.png') no-repeat
	background-size: 100%
	width: 7px
	height: 20px
	display: block
	position: absolute
	top: 7px
	left: 0
.page_list.medal li:before 
	content: ''
	background: url('../img/medal.png') no-repeat
	background-size: 100%
	width: 12px
	height: 20px
	display: block
	position: absolute
	top: 6px
	left: 0
.faq h3
	font-size: 36px
	margin-top: 70px
	margin-bottom: 16px
	padding-left: 15%
.question
	padding-right: 120px
.question h4
	position: relative
	cursor: pointer
	margin: 0
	padding: 10px 0
	font-size: 28px
.question .q_btn
	position: absolute
	top: 25px
	right: 20px
.question .q_btn span
	position: absolute
	width: 18px
	height: 2px
	border-radius: 5px
	top: 0
	left: 0
	background: #e3000f
	transition: 300ms
	pointer-events: none
.question .q_btn span:last-child
	transform: rotate(90deg)
.question .q_btn.change span:first-child
	transform: rotate(-45deg)
.question .q_btn.change span:last-child
	transform: rotate(45deg)
.question_text
	display: none
	padding-left: 30px
	padding-right: 100px
.question_text p
	font-size: 22px
.faq_img
	display: table
	width: 60%
	margin: 0 auto
	margin-top: 50px
.left_title
	font-size: 36px
	margin: 40px 0
.science h3
	font-size: 36px
	margin-top: 70px
	margin-bottom: 0
	text-align: center
.science h5
	font-size: 28px
	text-align: center
	margin-bottom: 20px
.science_person
	width: 100%
	border: 10px solid #134094
	margin-top: 20px
.idea_icon
	width: 50%
	display: table
	margin: 0 auto
.idea
	text-align: center
.idea h5
	font-size: 28px
.idea img
	width: 200px
.basket_icon
	width: 50%
	display: table
	margin: 0 auto
.how_buy img
	width: 170px
	display: table
	margin: 0 auto
.how_buy h6
	font-size: 24px
.contacts-title
	text-align: center
.contacts h6
	font-size: 30px
.contacts > .row
	margin-bottom: 5px
.contacts .row .row
	margin-bottom: 30px
.contacts .row p
	margin: 0
	line-height: 22px
	margin-bottom: 10px
.post, .tel, .skype
	display: block
	padding: 3px 0
	padding-left: 28px
	position: relative
	line-height: 22px
.post a, .tel a, .skype a
	color: #134094
	font-size: 20px
.post:before, .tel:before, .skype:before
	content: ''
	background: url('../img/post-icon.png') no-repeat
	background-size: contain
	width: 20px
	height: 16px
	position: absolute
	top: 7px
	left: 0
.tel:before
	background: url('../img/tel-icon.png') no-repeat
	background-size: contain
	top: 4px
	height: 18px
.skype:before
	background: url('../img/skype-icon.png') no-repeat
	background-size: contain
	top: 5px
	height: 20px
.contacts_icon img
	width: 100%
.issue
	position: relative
	margin-top: 70px
.issue h4
	font-size: 36px
.issue_btn
	position: absolute
	top: 0
	right: 0
.issue_btn button
	font-size: 26px
	border: none
	padding: 4px 0
	box-shadow: 0 0 10px -5px #333
	margin-bottom: 10px
	color: #134094
	background: transparent
	display: block
	width: 241px
	cursor: pointer
	transition: 300ms
.issue_btn button:hover
	box-shadow: 0 0 15px -5px #333
.basket h1
	font-size: 44px
	margin-top: 50px

.basket--table
	font-size: 44px
	text-align: center
.basket--table table
	width: 100%
	border-spacing: 5px
.basket--table p
	margin: 0
.basket--table table th,
.basket--table table td
	font-weight: normal
	padding: 10px 0
.number p
	display: inline-block
	vertical-align: bottom
	margin: 0
.number .counter input
	width: 145px
	padding: 0
	padding-left: 20px
	padding-right: 40px
.number .counter .plus
	top: -15px
	right: 15px
.number .counter .minus
	top: 15px
	right: 15px
.counter
	position: relative
	display: inline-block
	vertical-align: bottom
.counter input
	display: table
	padding: 5px 0
	padding-left: 10px
	padding-right: 35px
	width: 95px
	border: 3px solid #134094
	border-radius: 5px
	color: #134094
	background: #fff
	font-weight: bold
	outline: none
.counter .plus
	position: absolute
	top: -5px
	right: 10px
.counter .plus img
	width: 25px
	height: 15px
	transform: rotate(180deg)
.counter .minus
	position: absolute
	top: 18px
	right: 10px
.counter .minus img
	width: 25px
	height: 15px
.del
	position: relative
.del img
	position: absolute
	top: 41px
	right: 30px
	width: 20px
	height: 20px
.table--basket__total p
	text-align: right
	font-size: 26px
	margin-top: 40px
	margin-right: 80px
.back_btn,
.order_btn
	font-size: 30px
	border: none
	box-shadow: 0 0 10px -5px #333
	margin-bottom: 10px
	color: #134094
	background: transparent
	display: block
	width: 200px
	cursor: pointer
	transition: 300ms
	display: inline-block
.back_btn:hover,
.order_btn:hover
	box-shadow: 0 0 15px -5px #333
.full_basket-block
	font-size: 0
.full_basket-img,
.full_basket-table
	display: inline-block
	width: 80%
.full_basket-img
	position: relative
	overflow: hidden
	width: 20%
.full_basket-img > div
	width: 300px
	height: 300px
.full_basket-img img
	position: absolute
	width: 100%
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)

.modal
	display: none
	background-color: rgba(255,255,255,0.7)
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 9999
.modal .form 
	display: block
	width: 550px
	position: absolute
	background-color: #fff
	padding: 20px
	margin: 0 auto
	top: 50%
	left: 60%
	-webkit-transform: translate(-50%, -50%)
		-ms-transform: translate(-50%, -50%)
		-o-transform: translate(-50%, -50%)
		transform: translate(-50%, -50%)
	box-shadow: 0 0 5px -2px #333
.prod_info
	font-size: 0
.prod_img,
.prod_text
	display: inline-block
	vertical-align: middle
	width: 60%
	padding-left: 20px
.prod_img
	width: 40%
	padding-left: 0
.prod_img > div
	width: 200px
	height: 200px
	overflow: hidden
	position: relative
	border: 8px solid #94a7d6
	border-radius: 50%
.prod_img img
	width: 100%
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
.prod_text h6
	font-size: 28px
	font-weight: normal
	margin: 0
.prod_text p
	font-size: 26px
	margin: 0
	line-height: 26px
.prod_text .ex_name
	font-size: 22px
	margin: 0
	margin-bottom: 20px
	line-height: 22px
.quantity
	margin: 20px 0
.quantity p
	display: inline-block
	vertical-align: middle
	margin: 0
	font-size: 26px
	margin-top: 3px
.quantity .counter
	vertical-align: middle
	margin-left: 20px
	margin-right: 5px
.form_btn
	display: table
	margin: 0 auto
	margin-top: 40px
.form_btn button
	font-size: 26px
	border: none
	box-shadow: 0 0 5px -2px #333
	margin: 0 20px
	color: #134094
	background: transparent
	cursor: pointer
	transition: 300ms
	display: inline-block
	padding: 0 10px
	outline: none
.form_btn button:hover
	box-shadow: 0 0 10px -3px #333
.modal .form .close_btn
	display: block
	width: 40px
	height: 40px
	position: absolute
	top: -20px
	right: -20px
	z-index: 2
.modal .form .close_btn:after,
.modal .form .close_btn:before 
	content: ''
	display: block
	width: 100%
	height: 3px
	background-color: #134094
	position: absolute
	top: 50%
	left: 0
	right: 0
	margin-top: -2px
.modal .form .close_btn:after 
	transform: rotate(45deg)
.modal .form .close_btn:before 
	transform: rotate(-45deg)
.modal .form .close_btn:hover 
	opacity: 0.7
.about_title
	margin-top: 70px
	text-align: center
	margin-bottom: 30px
	line-height: 23px
.hand_icon
	width: 250px
	display: table
	margin: 0 auto
.gift_block h5
	display: table
	font-size: 34px
	margin: 0 auto
	margin-top: 30px
	margin-bottom: 20px
.gift_block h6
	font-size: 30px
	line-height: 26px
.gift_block p
	font-size: 26px
	margin: 0
	line-height: 26px
.gift_block .price
	font-size: 30px
	line-height: 30px
	margin-top: 20px
.gift_block .price button
	font-size: 28px
	border: none
	box-shadow: 0 0 5px -2px #333
	margin-left: 25px
	color: #134094
	background: transparent
	cursor: pointer
	transition: 300ms
	display: inline-block
	padding: 1px 15px
	outline: none
.gift_block .price button:hover
	box-shadow: 0 0 10px -3px #333
.gift_block img
	width: 100%
.gift_unit
	width: 80%
	display: table
	margin: 0 auto
	font-size: 0
	padding: 20px 0
.gift_unit-info,
.gift_unit-img
	display: inline-block
	width: 20%
	font-size: 22px
	vertical-align: middle
.gift_unit-info
	width: 80%
	padding-left: 10%

.table 
	width: 100%
	margin-bottom: 1rem
	color: #212529
.table th,
.table td 
	padding: 8px
	font-size: 18px
	vertical-align: top
	border-top: 1px solid #dee2e6
.table thead th 
	vertical-align: bottom
	border-bottom: 2px solid #dee2e6
.table tbody + tbody
    border-top: 2px solid #dee2e6
.show_choice .left_title
	text-align: left !important
	padding-left: 30px
	font-size: 48px
	line-height: 48px
	margin-bottom: 25px
.show_choice h2
	font-size: 46px
	margin-top: 70px
	margin-bottom: 50px
.country_list
	padding-left: 30px
.country_list p
	margin: 0
	cursor: pointer
.country_list li
	font-size: 26px
	padding: 5px 0
.country_list li.active
	font-weight: bold
.country_list li.active .city_list
	display: block
.city_list
	padding-left: 20px
	display: none
.city_list li
	font-size: 20px
	font-weight: normal
.city_list li.active
	text-decoration: underline
	font-weight: normal
.contact_info p,
.contact_info span
	display: inline-block
	vertical-align: top
.contact_info.page_list li
	line-height: 22px
	margin: 3px 0
.contact_info.page_list li.info_name
	margin-top: 30px
.contact_info.page_list.angle li:before
	top: 0
.comments
	margin: 70px 0
.comment_text,
.comment_video
	padding-left: 25px
	padding-right: 25px
.comment_list
	padding-bottom: 10px
.comment_list h6
	font-size: 26px
	margin: 0
	margin-bottom: 5px
	border-bottom: 5px solid #f5f6f6
.comment_list p
	font-size: 18px
	margin-bottom: 18px
.video_list
	padding-bottom: 10px
.video_list h6
	font-size: 26px
	margin: 0
	margin-bottom: 5px
	border-bottom: 5px solid #f5f6f6
.video_list img
	width: 100%
	margin-bottom: 18px
.show_all
	border-top: 5px solid #f5f6f6
	text-align: center
.show_all p
	margin-top: 5px
	margin-bottom: 0
.show_all p img
	width: 40px
.comment_hidden-block
	display: none
.clearfix
	clear: both
.prod_unit
	margin: 70px 0
.prod_unit-name
	overflow: hidden
	position: relative
	margin-bottom: 60px
.prod_unit-name:before
	content: ''
	width: 2000px
	height: 200px
	background: #134094
	position: absolute
	top: 50%
	left: 20%
	transform: translate(0,-50%)
	z-index: -1
.prod_unit-img
	width: 400px
	height: 400px
	border: 10px solid #134094
	border-radius: 50%
	overflow: hidden
	position: relative
.prod_unit-img img
	width: 100%
	object-fit: cover
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
.text_center
	top: 50%
	transform: translate(0, 50%)
	height: 200px
	position: relative
.prod_name-text
	position: absolute
	top: 50%
	left: 80px
	transform: translate(0, -50%)
.prod_name-text h4
	color: #fff
	font-size: 66px
	line-height: 46px
.prod_name-text p
	color: #fff
	font-size: 36px
	line-height: 36px
	margin-bottom: 0
.prod_name-price
	position: absolute
	top: 220px
	left: -25px
	width: 600px
.prod_name-price p
	font-size: 36px
	line-height: 36px
	margin-bottom: 0
.prod_unit-info
	width: 100%
.prod_unit-info li 
	width: 19%
	text-align: center
	margin: 0 0.5%
	background: #fff
	border: none
	box-shadow: 0 0 15px -2px #333
	border-radius: 0
	font-size: 22px
	line-height: 22px
	position: relative
	height: 55px
.prod_unit-info li.active
	background: 
.nav-pills .nav-link
	padding: 0
	color: #134094
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	width: 100%
	padding: 0 15px
.nav-pills .nav-link.active, 
.nav-pills .show > .nav-link
	background: transparent