@import "./style.sass"

.inner_pages
	font-size: 22px
.block
	padding: 13px 0
.page_list
	padding: 0
	margin: 20px 0
.page_list li 
	padding-left: 20px
	position: relative
	text-transform: none !important
	list-style-type: none
	margin: 7px 0
.page_list li:before 
	content: ''
	width: 8px
	height: 8px
	border-radius: 50%
	background: #134094
	display: block
	position: absolute
	top: 13px
	left: 0
.page_list.angle li:before 
	content: ''
	background: url('../img/angle.png') no-repeat
	background-size: 100%
	width: 7px
	height: 20px
	display: block
	position: absolute
	top: 7px
	left: 0
.page_list.medal li:before 
	content: ''
	background: url('../img/medal.png') no-repeat
	background-size: 100%
	width: 12px
	height: 20px
	display: block
	position: absolute
	top: 6px
	left: 0
.faq h3
	font-size: 36px
	margin-top: 70px
	margin-bottom: 16px
	padding-left: 15%
.question
	padding-right: 120px
.question h4
	position: relative
	cursor: pointer
	margin: 0
	padding: 10px 0
	font-size: 28px
.question .q_btn
	position: absolute
	top: 25px
	right: 20px
.question .q_btn span
	position: absolute
	width: 18px
	height: 2px
	border-radius: 5px
	top: 0
	left: 0
	background: #e3000f
	transition: 300ms
	pointer-events: none
.question .q_btn span:last-child
	transform: rotate(90deg)
.question .q_btn.change span:first-child
	transform: rotate(-45deg)
.question .q_btn.change span:last-child
	transform: rotate(45deg)
.question_text
	display: none
	padding-left: 30px
	padding-right: 100px
.question_text p
	font-size: 22px
.faq_img
	display: table
	width: 60%
	margin: 0 auto
	margin-top: 50px
.left_title
	font-size: 36px
	margin: 40px 0
.science h3
	font-size: 36px
	margin-top: 70px
	margin-bottom: 0
	text-align: center
.science h5
	font-size: 28px
	text-align: center
	margin-bottom: 20px
.science_person
	width: 100%
	border: 10px solid #134094
	margin-top: 20px
.idea_icon
	width: 50%
	display: table
	margin: 0 auto
.idea
	text-align: center
.idea h5
	font-size: 28px
.idea img
	width: 200px
.basket_icon
	width: 50%
	display: table
	margin: 0 auto
.how_buy img
	width: 170px
	display: table
	margin: 0 auto
.how_buy h6
	font-size: 24px
.contacts-title
	text-align: center
.contacts h6
	font-size: 30px
.contacts > .row
	margin-bottom: 5px
.contacts .row .row
	margin-bottom: 30px
.contacts .row p
	margin: 0
	line-height: 22px
	margin-bottom: 10px
.post, .tel, .skype
	display: block
	padding: 3px 0
	padding-left: 28px
	position: relative
	line-height: 22px
.post a, .tel a, .skype a
	color: #134094
	font-size: 20px
.post:before, .tel:before, .skype:before
	content: ''
	background: url('../img/post-icon.png') no-repeat
	background-size: contain
	width: 20px
	height: 16px
	position: absolute
	top: 7px
	left: 0
.tel:before
	background: url('../img/tel-icon.png') no-repeat
	background-size: contain
	top: 4px
	height: 18px
.skype:before
	background: url('../img/skype-icon.png') no-repeat
	background-size: contain
	top: 5px
	height: 20px
.contacts_icon img
	width: 100%
.issue
	position: relative
	margin-top: 70px
.issue h4
	font-size: 36px
.issue_btn
	position: absolute
	top: 0
	right: 0
.issue_btn button
	font-size: 26px
	border: none
	padding: 4px 0
	box-shadow: 0 0 10px -5px #333
	margin-bottom: 10px
	color: #134094
	background: transparent
	display: block
	width: 241px
	cursor: pointer
	transition: 300ms
.issue_btn button:hover
	box-shadow: 0 0 15px -5px #333
.basket h1
	font-size: 44px
	margin-top: 50px

.basket--table
	font-size: 44px
.basket--table table
	width: 100%
.basket--table table th
	font-weight: normal
.counter
	position: relative
	display: inline-block
	vertical-align: middle
.counter input
	display: table
	padding-left: 20px
	padding-right: 50px
	width: 145px
	border: 3px solid #134094
	border-radius: 5px
	color: #134094
	background: #fff
	font-weight: bold
.counter .plus
	position: absolute
	top: -15px
	right: 15px
.counter .plus img
	width: 25px
	height: 15px
	transform: rotate(180deg)
.counter .minus
	position: absolute
	top: 15px
	right: 15px
.counter .minus img
	width: 25px
	height: 15px